/* src/styles/Home.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.home-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2.section-title {
    text-align: center;
    margin: 40px 0 20px;
    color: #333;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    flex: 1 1 calc(50% - 20px); /* 2 sections in a row */
    box-sizing: border-box;
}

.section h3 {
    color: #008000;
    margin: 0 0 5px; /* Reducir margen debajo del título de la sección */
}

.section p {
    color: #555;
}

/* Estilos responsivos */
@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(33.33% - 20px); /* 3 cards in a row */
    }

    .section {
        flex: 1 1 calc(100% - 20px); /* 1 section in a row on smaller screens */
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 calc(100% - 20px); /* 1 card in a row */
    }
}
