/* Estilos para el componente InfoCard */
.card {
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-3px);
}

.card-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 15px;
}

.modal-image {
    border-radius: 5%;
    width: 30%;
    height: 30%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    color: #008000;
    margin: 10px 0 5px;
    font-size: 1.5em;
}

.card p {
    color: #555;
    margin: 5px 0;
}

.schedule {
    margin-top: 15px;
}

.schedule h4 {
    margin-bottom: 5px;
    color: #007BFF;
}

.schedule ul {
    list-style-type: none;
    padding-left: 20px;
}

.schedule li {
    color: #333;
}

.schedule li a {
    color: #007BFF;
    text-decoration: none;
}

.schedule li a:hover {
    text-decoration: underline;
}

.card a {
    color: #007BFF;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}