/* ModalStyles.css */
.form {
    height: 100%;
    margin: auto auto;
    padding: 0;
}

.swal2-popup {
    /* Estilos globales para todos los modales */
    color: #333; /* Cambia el color del texto si es necesario */
}

/* Estilos específicos para el modal de la tarjeta */
.swal2-popup.info-card {
    background-color: #afdbaf; /* Cambia el color de fondo a azul */
    color: white; /* Cambia el color del texto a blanco para mejor contraste */
}

/* Estilos específicos para el modal del formulario */
.swal2-popup.form-modal {
    background-color: #afdbaf;
    color: #333; /* Color del texto para el modal del formulario */
}
