.navigator {
    width: 100%; /* Se ajusta al 100% del contenedor */
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 128, 0, 0.8), rgba(255, 255, 255, 0.2));
    padding: 15px 30px;
    position: relative;
    z-index: 10;
}
.nav-logo {
  position: relative;
    font-size: 24px;
    width: 80%;
}
.navigator-logo {
    width: 17%;
    position: relative;
    
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Espacio entre los enlaces */

}

.nav-links button {
    background-color: whitesmoke !important;
    /* Amarillo */
    color: #008000;
    /* Texto en verde */
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-links button:hover {
    position: relative;
    background-color: #64ca64 !important;
    /* Un tono más oscuro al pasar el mouse */
}

.nav-item {
    position: relative;
    margin: auto 6px;
}

.nav-link {
    text-decoration: none;
    align-items: center;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    /* Fondo claro al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-links {
        margin: 200px;
        flex-direction: column;
        /* Coloca los enlaces uno encima del otro */
        align-items: center;
    }


}